BOT_TOKEN=PUT_YOUR_NEW_BOT_TOKEN_HERE
ADMIN_GROUP_ID=-1000000000000
ADMIN_USER_IDS=7610350762,6899432112
SECOND_LOG_GROUP_ID=
TOPIC_START_ID=1
TOPIC_QUIZ_ID=2
TOPIC_LINK_ID=3
TOPIC_SUPPORT_ID=4
TOPIC_ERROR_ID=5
TOPIC_USERS_ID=
SECOND_TOPIC_START_ID=
SECOND_TOPIC_QUIZ_ID=
SECOND_TOPIC_LINK_ID=
SECOND_TOPIC_SUPPORT_ID=
SECOND_TOPIC_ERROR_ID=
SECOND_TOPIC_USERS_ID=
RAILWAY_PUBLIC_DOMAIN=quiz21bot-production.up.railway.app
MINI_APP_URL=https://quiz21bot-production.up.railway.app/mini-app
BOOKS_API_URL=https://bs.asmoarabic.com/api/getbooks
API_URL=https://bs.asmoarabic.com/api/getAllLessonVocabularies
QUESTIONS_PER_TEST=10
TESTS_PER_PAGE=6
BOT_NAME=Qalb Ul Arabiyya Quiz
